<div class="container mt-4">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Entidad
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div *ngIf="usuario.idPerfil == 4">

                <mat-card-content>
                    <mat-card-actions align="start">
                      <div class="row" fxLayoutAlign="left">
                        <div class="col-sm-3 col-md-3" >
                          <button [routerLink]="['/entidadRegistro',0]" class="form-control btn-primary-icetex">Registrar Entidad</button>
                        </div>
                        <div class="col-sm-4 col-md-4" >
                            <button class="form-control btn-primary-icetex" [routerLink]="['/listarCorreoLiderEntidad']">Notificaciónes Lider Entidad</button>
                        </div>
                      </div>      
                    </mat-card-actions>
              
                    <div fxLayout="column">
                      <div class="mat-elevation-z8">
                
                        <div class="table-responsive">
                          <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="Nit" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nit</th>
                                <td mat-cell *matCellDef="let element" style="width: 700px;">{{element.idOrganizacion}}</td>
                              </ng-container>

                            <ng-container matColumnDef="Nombre" >
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                              <td mat-cell *matCellDef="let element" style="width: 700px;">{{element.nombre}}</td>
                            </ng-container>
                
                            <ng-container matColumnDef="Direccion" >
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
                              <td mat-cell *matCellDef="let element" style="width: 600px;">{{element.direccion}}</td>
                            </ng-container>
                            
                            <ng-container matColumnDef="Telefono" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
                                <td mat-cell *matCellDef="let element" style="width: 600px;">{{element.telefonoNumero}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                              <mat-cell *matCellDef="let element;">
                                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Acción</th>
                                <div style="margin: 3px;">
                                  <div>
                                    <button [routerLink]="['/entidadRegistro',element.idOrganizacion]" class="form-control btn-primary-icetex">Actualizar</button> 
                                  </div>
                                 
                                </div>
                              </mat-cell>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div>
                  </mat-card-content>
                </div>

                <div *ngIf="usuario.idPerfil == 9"> 

                  <mat-card-content>
                    <mat-card-actions align="start">
                      <div class="row" fxLayoutAlign="left">
                        <div class="col-sm-3 col-md-3" *ngIf="swCorreo == 1 || swCorreo == 2">
                          <button class="form-control btn-primary-icetex" (click)="envioCorreoLider()" disabled>Envio Correo</button>
                        </div>

                        <div class="col-sm-3 col-md-3" *ngIf="swCorreo == 0">
                          <button class="form-control btn-primary-icetex" (click)="envioCorreoLider()">Envio Correo</button>
                        </div>

                        <div class="col-sm-4 col-md-4" style="color:blue;font-size: medium;font-weight: bold;">
                          <label>{{estadoCorreo}}</label>
                        </div>
                      </div>      
                    </mat-card-actions>
                    <form [formGroup]="financieraForm" method="post" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                      <div class="mb-3 mt-5 col-sm-12 col-md-12 bg-blue-icetex1">
                      </div>
                     
                      <div class="mb-3 col-sm-12 col-md-12" *ngIf="swCorreo == 0 || swCorreo == 1">
                              <input type="text" formControlName="nombre" class="form-control" placeholder="Entidad financiera *" maxlength="250" disabled>
                      </div>
              
                      <div class="mb-3 col-sm-12 col-md-12" *ngIf="swCorreo == 2">
                        <input type="text" formControlName="nombre" class="form-control" placeholder="Entidad financiera *" maxlength="250">
                      </div>
        
                      <div class="row mb-3">
                        
                          <div class="mb-3 col-sm-12 col-md-4" >
                              <input type="text" formControlName="idOrganizacion" class="form-control" placeholder="NIT *" maxlength="20"  disabled>
                          </div>
              
                          <div class="mb-3 col-sm-12 col-md-4" *ngIf="swCorreo == 0 || swCorreo == 1">
                              <select class="form-control" formControlName="tipoEntidad" style="color: grey;" disabled>
                                  <option value="null" disabled="true" [selected]="true" >Tipo entidad</option>
                                  <option
                                      *ngFor="let tipo of tipoEntidad"
                                      value="{{tipo.codigo}}">
                                      {{tipo.nombre}}
                                  </option>
                              </select>
                          </div>

                          <div class="mb-3 col-sm-12 col-md-4" *ngIf="swCorreo == 2">
                            <select class="form-control" formControlName="tipoEntidad" style="color: grey;">
                                <option value="null" disabled="true" [selected]="true" >Tipo entidad</option>
                                <option
                                    *ngFor="let tipo of tipoEntidad"
                                    value="{{tipo.codigo}}">
                                    {{tipo.nombre}}
                                </option>
                            </select>
                          </div>

                          <div class="mb-3 col-sm-12 col-md-4" *ngIf="swCorreo == 0 || swCorreo == 1">
                              <input type="text" formControlName="codigoEntidad" class="form-control" placeholder="Código entidad" maxlength="3" disabled>
                          </div>
              
                          <div class="mb-3 col-sm-12 col-md-4" *ngIf="swCorreo == 2">
                            <input type="text" formControlName="codigoEntidad" class="form-control" placeholder="Código entidad" maxlength="3">
                          </div>

                      </div>
                     
                      <div class="row mb-3">
                          <div class="mb-3 col-sm-12 col-md-4">
                              <input type="text" formControlName="telefonoArea" class="form-control" placeholder="Área Teléfono" maxlength="3">
                          </div>
                          <div class="mb-3 col-sm-12 col-md-4">
                              <input type="text" formControlName="telefonoNumero" class="form-control" placeholder="Número Teléfono *" maxlength="10">
                          </div>
                          <div class="mb-3 col-sm-12 col-md-4">
                              <input type="text" formControlName="telefonoExtension" class="form-control" placeholder="Extensión Teléfono" maxlength="10">
                          </div>
                      </div>
                      <div class="mb-3 col-sm-12 col-md-12">
                          <input type="text" formControlName="direccion" class="form-control" placeholder="Dirección *" maxlength="250">
                      </div>
                      <div class="mb-3 col-sm-4 col-md-4">
                          <input type="text" formControlName="centroCosto" class="form-control" placeholder="Centro de costo" maxlength="20" disabled>
                      </div>

                      <div class="row" fxLayoutAlign="center center">
                          <div class="col-sm-3 col-md-3" >
                              <input type="submit" class="form-control btn-primary-icetex" value="Actualizar">
                          </div>
                         
                      </div>
                  </form>
                  </mat-card-content>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Representante legal             
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-representante-legal></app-listar-representante-legal>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
              Revisor Fiscal            
            </button>
          </h2>
          <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-revisor-fiscal></app-listar-revisor-fiscal>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Funcionarios Autorizados Para Acceso Al Aplicativo 
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-funcionario-aplicativo></app-listar-funcionario-aplicativo>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Funcionarios Autorizados Para Confirmar Operaciones de Cumplimiento Financiero
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-funcionario-financiero></app-listar-funcionario-financiero>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Funcionarios Autorizados para Soporte Operativo y Tecnológico
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-funcionario-tecnologico></app-listar-funcionario-tecnologico>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Funcionarios Autorizados para Información de Subasta
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-listar-funcionario-subata></app-listar-funcionario-subata>
            </div>
          </div>
        </div>
      </div>
</div>
