<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
      <form [formGroup]="certificacionesForm" method="post" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

      <mat-card-header>
        <mat-card-title>Formulario para el cargue de certificaciones</mat-card-title>
      </mat-card-header>
     
      <mat-card-content>
          <label class="required-field">Recuerde que si el revisor fiscal cambio, debe adjuntar los documentos en donde conste este cambio</label>
          <br/>
          <mat-form-field>
            <mat-label>Nombre del certificado</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
          </mat-form-field>
          <div class="col-md-4  col-sm-4">
            <input type="file" class="dropify" (change)="onFileChange($event)" data-height="80" data-allowed-file-extensions="pdf" formControlName="file" />
          </div>
          <br/>
          <div class="col-sm-3 col-md-3" >
            <input type="submit" class="form-control btn-primary-icetex" value="Guardar">
          </div>

      </mat-card-content>
    </form>

    <h4>Listado de certificaciones cargadas.</h4>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Nombre" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Acción</th>
            <div style="margin: 3px;">
              <div>
                <button mat-raised-button matTooltip="Ver Errores" (click)="openError(element.idCargue)" *ngIf=" element.estado === 'CARGA_RECHAZADA' || element.estado === 'VALIDACION_FALLIDA'" >
                  <mat-icon color="warn">launch</mat-icon> ver Errores
                </button>  
              </div>
              <div>
              <button mat-raised-button matTooltip="Ver Errores" (click)="openErrorPantalla(element.idCargue)" *ngIf=" element.estado === 'CARGA_RECHAZADA' || element.estado === 'VALIDACION_FALLIDA'" >
                <mat-icon color="warn">launch</mat-icon> Descargar Errores
              </button>
              </div>
           
              <div *ngIf="(element.estado === 'CARGA_EXITOSA' || element.estado === 'VALIDACION_EXITOSA') && usuario.idPerfil == 1">
                <button mat-raised-button matTooltip="Aprobar" style="margin: 3px;" (click)="cambiarestado(element.idCargue,'confirmar_entidad')" >
                  <mat-icon color="primary" class="material-icons-outlined">check_circle</mat-icon> Confirmar
                </button>
                <button mat-raised-button matTooltip="Rechazar" (click)="cambiarestado(element.idCargue,'rechazar_entidad')">
                  <mat-icon color="accent">highlight_off</mat-icon> Rechazar
                </button>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  </mat-card>
</div>
