<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
      <form [formGroup]="certificacionesForm" method="post" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

      <mat-card-header>
        <mat-card-title>Formulario para el cargue de certificaciones</mat-card-title>
      </mat-card-header>
     
      <mat-card-content>
          <small> Nota: Recuerde que si el revisor fiscal cambio, debe adjuntar los documentos en donde conste este cambio</small>
          <div class="col-md-12  col-sm-12">
            <mat-form-field appearance="outline" fxFlex="600">
              <mat-label>Nombre del certificado</mat-label>
              <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
          </div>

          <div class="col-md-4  col-sm-4">
            <input type="file" class="dropify" (change)="onFileChange($event)" data-height="80" data-allowed-file-extensions="pdf" formControlName="file" />
          </div>
          <br/>
          <div class="col-sm-3 col-md-3" >
            <input type="submit" class="form-control btn-primary-icetex" value="Guardar">
          </div>

      </mat-card-content>
    <br>
    <hr>
    <h4>Listado de certificaciones cargadas.</h4>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort width = "900px">
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let element">{{element.fecha | date :'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Acción</th>
            <div style="margin: 3px;">
             
              <div>
              <a href="{{element.certificacion}}" target="_blank"><mat-icon color="success">launch</mat-icon></a>
              </div>
           
            
            </div>
          </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </form>
  </mat-card>
</div>
