<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
      <form [formGroup]="certificacionesForm" method="post" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="usuario.idPerfil == 1">

      <mat-card-header>
        <mat-card-title>Formulario para el cargue de certificaciones</mat-card-title>
      </mat-card-header>

      <mat-card-content class="modal-certificados">
          <small> Nota: Recuerde que si el revisor fiscal cambio, debe adjuntar los documentos en donde conste este cambio</small>
          <br/><br/><br/>
          <div class="col-md-12  col-sm-12">
            <mat-form-field appearance="outline" fxFlex="600">
              <mat-label>Nombre del certificado</mat-label>
              <mat-select formControlName="nombre">
                <mat-option *ngFor="let type of typesCertificacion" [value]="type">
                {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>


          </div>

          <div class="col-md-4  col-sm-4">
            <input type="file" class="dropify" (change)="onFileChange($event)" data-height="80" data-allowed-file-extensions="pdf" formControlName="file" accept="application/pdf"/>
          </div>
          <br/>
          <div class="col-sm-3 col-md-3" >
            <input type="submit" class="form-control btn-primary-icetex" value="Guardar">
          </div>

      </mat-card-content>
    </form>
    <br>
    <hr>
    <div class="row mb-5">
      <div class="col-10"><h4>Listado de certificaciones cargadas.</h4></div>
      <div class="col-2"><button mat-raised-button class="btn btn-primary-icetex" (click)="back()">Regresar</button></div>
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <caption></caption>
        <th></th>
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="campo-fecha">Fecha</th>
          <td mat-cell *matCellDef="let element">{{element.fecha | date :'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado certificación</th>
          <td mat-cell *matCellDef="let element">{{element.estado}} </td>
        </ng-container>
        <ng-container matColumnDef="Observacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
          <td mat-cell *matCellDef="let element">{{element.observacion}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="(usuario.idPerfil == 4)"mat>
              <mat-checkbox disabled [checked] = "element.vbnotesoreria">VoBno Tesorero</mat-checkbox>
            </div>
            <div *ngIf="element.estado === 'PENDIENTE_AUTORIZACION'  && (usuario.idPerfil == 5)">
              <mat-checkbox (click)="vobueno(element)" [checked] = "element.vbnotesoreria" [id] = "element.idCargueCertificacion">VoBno Tesorero</mat-checkbox>
             </div>
            <div>
              <button mat-raised-button matTooltip="Aprobar" style="margin: 3px;"  (click)="aproparCertificacion(element)" *ngIf="element.estado === 'PENDIENTE_AUTORIZACION' && (usuario.idPerfil == 4) && element.vbnotesoreria == 1">
                  <mat-icon color="primary" class="material-icons-outlined">check_circle</mat-icon> Aprobar
              </button>
              <button mat-raised-button matTooltip="Rechazar" (click)="openModal(element)" *ngIf="element.estado === 'PENDIENTE_AUTORIZACION' && (usuario.idPerfil == 4 || usuario.idPerfil == 5)">
                  <mat-icon color="accent">highlight_off</mat-icon> Rechazar
              </button>
            </div>

          </td>
        </ng-container>
        <ng-container matColumnDef="Descargar">
          <mat-header-cell *matHeaderCellDef>Descargar</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Descargar</th>
            <div style="margin: 3px;">
              <div>
              <a href="{{element.certificacion}}" target="_blank"><mat-icon color="success">launch</mat-icon></a>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>


<ng-template #modalInfo let-modal>
  <form [formGroup]="rechazoForm" (ngSubmit)="!rechazoForm.invalid && rechazarCertificacion(rechazoForm.value)">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Rechazar certificación </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close()"></button>
          </div>
          <div class="modal-body">
              <!--Observacion-->
            <div class="form-group mx-sm-3 mb-2">
              <label for="observacion">Observacion</label>
              <input
                novalidate
                id="observacion"
                class="form-control"
                formControlName="observacion"
              />
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close()">
        Cancelar
      </button>
              <button type="submit" class="btn btn-primary" [disabled]="!rechazoForm.valid">
        Aceptar
      </button>
          </div>
      </div>
  </form>
</ng-template>

