<div class="container" style="min-height: 420px;">
    <div class="row mb-5">
        <div class="col-8">Cuentas abandonadas – Reporte Certificación de Saldos</div>
    </div>
    <div class="row">
          <div class="col-4">
            <label>Fecha</label> 
            <input type="date" class="form-control">  
          </div> 
          <div class="col-4">
            <br>
            <input type="button" class="form-control btn-primary-icetex" style="width: 30%;margin: 0 auto;" (click)="buscar()" value="consultar">
          </div> 
    </div>
</div>