<div class="container" style="min-height: 420px;">
    <div class="row mb-5">
        <div class="col-2"><a href="javascript:history.go(-1)"><i class="fas fa-chevron-left shadowBox"></i></a></div>
        <div class="col-8">Cuentas Abandonadas - Autorización cargues</div>
        <!-- <div class="col-2">
            <button mat-raised-button style="margin-bottom: 20px;margin-left: 15px;" class="btn btn-primary-icetex" 
            (click)="vobuenoordenTodos()">Seleccionar Todo</button>
          </div> -->
    </div>

    <div class="row">
        <table mat-table [dataSource]="cargues" matSort>
            <ng-container matColumnDef="Entidad" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de la entidad</th>
            <td mat-cell *matCellDef="let car">{{car.entidad}} </td>
            </ng-container>

            <ng-container matColumnDef="NombreArchivo" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del archivo</th>
            <td mat-cell *matCellDef="let car">{{car.nombreArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="FechaCargue" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de cargue</th>
            <td mat-cell *matCellDef="let car">{{car.fecCargue | date :'dd-MM-yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="TipoArchivo" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de archivo</th>
            <td mat-cell *matCellDef="let car">{{car.tipoArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="NumeroCuentas" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de cuentas</th>
            <td mat-cell *matCellDef="let car">{{car.nroCuentas | number}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let car">{{car.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
            <mat-header-cell *matHeaderCellDef>Acciones
                <button *ngIf="usuario.idPerfil == 7" mat-raised-button style="margin-bottom: 20px;margin-left: 15px;" class="btn btn-primary-icetex" 
                (click)="vobuenoordenTodos()">Seleccionar Todo
                </button>
            </mat-header-cell>
            
            <mat-cell *matCellDef="let car;">
                
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Acción</th>
                <div style="margin: 3px;">

                     <!-- PENDIENTES POR AUTORIZAR -->

                    <div *ngIf="car.estado === 'PENDIENTE_AUTORIZACION' && car.tipoArchivo === 'VALORACION' && (usuario.idPerfil == 4)"mat>

                        <mat-checkbox disabled [checked] = "car.vbnotesoreria">VoBno Tesorero</mat-checkbox>
                        <mat-checkbox disabled [checked] = "car.vbnocontador">VoBno Contador</mat-checkbox>
                    </div>

                    <div *ngIf="car.estado === 'PENDIENTE_AUTORIZACION' && (usuario.idPerfil == 4)">
                        <button mat-raised-button matTooltip="Aprobar" style="margin: 3px;" (click)="cambiarestado(car.idCargue,'confirmar_icetex',car.vbnotesoreria,car.vbnocontador,car.tipoArchivo)" >
                            <mat-icon color="primary" class="material-icons-outlined">check_circle</mat-icon> Aprobar
                        </button>
                        <button mat-raised-button matTooltip="Rechazar" (click)="rechazar(car.idCargue)">
                            <mat-icon color="accent">highlight_off</mat-icon> Rechazar
                        </button>
                    </div>

                    <div *ngIf="car.estado === 'PENDIENTE_AUTORIZACION'  && (usuario.idPerfil == 5)">
                        <mat-checkbox (click)="vobueno(car.idCargue,'tesorero')" [checked] = "car.vbnotesoreria">Vo Bueno</mat-checkbox>
                        <mat-checkbox (click)="rechazar(car.idCargue)" [id]="car.idCargue + '_chkrechazar'">Rechazar</mat-checkbox>
                        
                    </div>

                    <div *ngIf="car.estado === 'PENDIENTE_AUTORIZACION' && car.tipoArchivo === 'VALORACION' &&(usuario.idPerfil == 6)">
                        <mat-checkbox (click)="vobueno(car.idCargue,'contabilidad')" [checked] = "car.vbnocontador">Vo Bueno</mat-checkbox>
                        <mat-checkbox (click)="rechazar(car.idCargue)" [id]="car.idCargue + '_chkrechazar'">Rechazar</mat-checkbox>
                        
                    </div>

                    <!-- ORDEN DE CUMPLIMINENTO -->

                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'PENDIENTE_AUTORIZACION' && (usuario.idPerfil == 4)">
                        <mat-checkbox disabled [checked] = "car.vbnotesoreria">VoBno Tesorero</mat-checkbox>
                    </div>

                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && (car.vbnoadminorden == 1) && (usuario.idPerfil == 4)">
                       
                        <mat-checkbox disabled [checked] = "car.vbnoadminorden">Vo Bo Orden de Cumplimiento</mat-checkbox>
                         
                    </div>

                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && (car.vbnoautorizadororden == 1) && (usuario.idPerfil == 7)">
                       
                        <mat-checkbox disabled [checked] = "car.vbnoautorizadororden">Vo Bo Orden de Cumplimiento</mat-checkbox>
                         
                    </div>


                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && (usuario.idPerfil == 7)">
                       
                        <mat-checkbox disabled [checked] = "car.vbnoadminorden">Vo Bo Administrador</mat-checkbox>
                         
                    </div>


                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && (usuario.idPerfil == 4)">
                       
                        <button class="btn btn-primary mt-2" (click)="llevarpdf(car.idCargue,car.tipoArchivo)">Descargar Orden</button>
                         
                    </div>

                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && car.vbnoadminorden == 0 && (usuario.idPerfil == 4)">
                       
                        <button class="btn btn-primary mt-2" (click)="vobuenoorden(car.idCargue,car.vbnoadminorden)">Vo Bo Autorizar Orden</button>
                        
                    </div>

                    <div *ngIf="(car.tipoArchivo === 'TRASLADO' || car.tipoArchivo === 'REINTEGRO') && car.estado === 'CARGA_PROCESADA' && car.vbnoautorizadororden == 0 && (usuario.idPerfil == 7)">
                       
                        <button class="btn btn-primary mt-2" (click)="vobuenoorden(car.idCargue,car.vbnoadminorden)">Vo Bo Autorizar Orden</button>
                        
                    </div>

                </div>
            </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>  
    </div>
</div>