<ng-select bindLabel="{{bindLabel}}"
           [items]="items"
           bindValue="{{bindValue}}"
           labelForId = "{{id}}"
           [readonly]="readonly"
           [placeholder]="placeholder"
           [searchable]="searchable"
           [clearable]="clearable"
           [multiple]="multiple"
           groupBy="{{groupBy}}"
           [selectableGroup]="selectableGroup"
           [(ngModel)]="defaultValue"
           [notFoundText]="notFoundText"
           (change)="changeSelector($event)"
           (clear)="clearSelector()"
           [attr.aria-required]="requerido"
           appendTo="{{appendTo}}"
           >
</ng-select>
