<div class="row mb-5">
    <div class="col-2"><a href="javascript:history.go(-1)"><i class="fas fa-chevron-left shadowBox"></i></a></div>
    <div class="col-2">&nbsp;</div>
</div>

<div id="imprimirrecepcion">

<table style="width:100%; margin-bottom:5px; border: 2px solid;">
  <caption></caption>
  <th></th>
    <tr>
        <td style="width: 15%;border-right:2px solid;border-bottom:2px solid;height:20px;font-size: 70%">
            <b>C&oacute;digo F351</b>
        </td>
        <th id="mitabla" rowspan="4" style="width: 60%; text-align:center;vertical-align:middle;border-right:2px solid;font-size: 80%">
            ORDEN DE CUMPLIMIENTO RECEPCI&Oacute;N DE RECURSOS N° {{ datosImpresion['consecutivo']}}
        </th>
        <td rowspan="4" style="width: 20%;text-align:center;vertical-align:middle">
            <img alt="descripcion" src="./assets/img/jpg/LogoIcetex.jpg" style="width: 70%;height: auto;"/>
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;height:20px;font-size: 70%">
            <b>Versi&oacute;n 1</b>
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;height:20px;font-size: 70%">
            <b>Fecha: 21/07/2016</b>
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;height:20px;font-size: 70%"><b>P&aacute;gina 1 de 1</b></td>
    </tr>

  </table>

  <div style="text-align:center;font-size: 80%;"><b>DATOS DEL TRASLADO</b></div>

  <table style="width:100%; margin-bottom:5px;margin-top:10px; border: 2px solid;height:20px" >}
    <caption></caption>
    <th></th>
          <tr>
              <td style="border-right:2px solid;width: 20%;font-size: 70%"><b>Fecha de Solicitud</b></td>
              <td style="border-right:2px solid;width: 25%;font-size: 70%">
                {{ datosImpresion['fechaCargue']}}
              </td>
              <td style="border-right:2px solid;width: 20%;font-size: 70%"><b>Fecha de Corte</b></td>
              <td style="width: 30%;font-size: 70%">
                {{ datosImpresion['fechaInicial']}}
              </td>
          </tr>
  </table>

  <div style="width:100%;text-align:center;font-size: 80%">La Vicepresidencia de Operaciones y Tecnolog&iacute;a luego de verificar la informaci&oacute;n transmitida por las Instituciones Financieras en el marco de la Ley 1777 de 2016, autoriza  la recepci&oacute;n de recursos por concepto de traslado del saldo de cuentas abandonadas bajo las siguientes condiciones:</div>

  <table style="width:100%; margin-bottom:5px;margin-top:10px; border: 2px solid">
    <caption></caption>
    <th></th>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;width:25%;height: 25px;font-size: 70%">
            <b>Nombre Instituci&oacute;n Financiera</b>
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
            {{ datosImpresion['nombreInstitucion']}}
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;width:25%;font-size: 70%">
            <b> Valor del Traslado</b>
        </td>
        <td style="border-bottom:2px solid;width:25%;font-size: 70%">
           $ {{ datosImpresion['valor'] | number}}
        </td>
    </tr>

    <tr>
      <td style="border-right:2px solid;border-bottom:2px solid;height: 25px;font-size: 70%">
          <b>Nombre del Archivo</b>
      </td>
      <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
        {{ datosImpresion['nombreArchivo']}}
      </td>
      <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
          <b>N&uacute;mero de Cuentas</b>
      </td>
      <td style="border-bottom:2px solid;font-size: 70%">
        {{ datosImpresion['numeroCuentas']}}
      </td>
  </tr>

  <tr>
    <td style="border-right:2px solid;border-bottom:2px solid;height: 25px;font-size: 70%">
        <b>Fecha de Transmisi&oacute;n</b>
    </td>
    <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%;">
        {{ datosImpresion['fechaTransmision']}}
    </td>
    <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%;"><b>Tasa Ponderada</b></td>
    <td style="border-bottom:2px solid;font-size: 70%;">
       {{datosImpresion['tasaPonderada']}} %
    </td>
  </tr>

  <tr>
    <td style="vertical-align:top; height:80px;font-size: 70%">
        <b>Observaciones</b>
    </td>
    <td colspan="3"></td>
  </tr>

  </table>

  <div>

  </div>

  <table style="width:100%;border:2px solid; margin-bottom:5px;height:25px">
    <caption></caption>
    <th></th>
    <tr>
        <td style="text-align:center; background-color:#bfbfbf;border-bottom:2px solid;height: 25px;font-size: 70%" colspan="4">
            <b>VICEPRESIDENCIA DE OPERACIONES Y TECNOLOG&Iacute;A</b>
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;text-align:center;height: 25px;font-size: 70%" colspan="2"><b>VERIFICA</b></td>
        <td style="border-bottom:2px solid;text-align:center;font-size: 70%" colspan="2"><b>AUTORIZA</b></td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;width:12.5%;height: 25px;font-size: 70%"><b>Funcionario</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;width:37.5%;font-size: 70%">
            <!-- JESUS VARGAS AGUAS -->
            {{funcionarioAdmin.nombreUsuario}}
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;width:12.5%;font-size: 70%"><b>Funcionario</b></td>
        <td style="border-bottom:2px solid;width:37.5%;font-size: 70%">
            <!-- JOSE EDUARDO PARADA JIMENEZ -->
            {{funcionarioAutorizador.nombreUsuario}}
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;height: 25px;font-size: 70%"><b>Cargo</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
            <!-- PROFESION UNIVERSITARIO -->
            {{funcionarioAdmin.nombreCargo}}
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Cargo</b></td>
        <td style="border-bottom:2px solid;font-size: 70%">
            <!-- COORDINADOR GRUPO ADMINISTRACION DE CARTERA -->
            {{funcionarioAutorizador.nombreCargo}}
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;height:20px;font-size: 70%"><b>Firma</b>
        </td>
        <td style="text-align: left;border-right:2px solid">

          <div *ngIf="vbnoadmin != 0">
            <p style="font-size: 10px;margin-bottom: 20px;">

                {{datosOrden['fechaVbnoAdmin'] | date: 'dd/MM/yyyy h:mm:ss a'}}

            </p>
            <p style="font-weight: bold;font-size: 15px;">{{funcionarioAdmin['nombreUsuario']}}</p>
          </div>

        </td>
      <td style="border-right:2px solid;font-size: 70%"><b>Firma</b>
        <td style="text-align: left">

            <div *ngIf="vbnoaut != 0">
                <p style="font-size: 10px;margin-bottom: 20px;">

                    {{datosOrden['fechaVbnoAut'] | date: 'dd/MM/yyyy h:mm:ss a'}}

                </p>
                <p style="font-weight: bold;font-size: 15px;">{{funcionarioAutorizador['nombreUsuario']}}</p>
            </div>
        </td>
    </tr>
  </table>

  <table style="width:100%;border:2px solid; margin-bottom:5px;margin-top:10px">
    <caption></caption>
    <th></th>
    <tr>
        <td style="text-align:center; background-color:#bfbfbf;border-bottom:2px solid;height: 30px" colspan="4">

        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;text-align:center;height: 25px;font-size: 70%" colspan="2"><b>CONFIRMACI&Oacute;N SEBRA</b></td>
        <td style="border-bottom:2px solid;text-align:center;font-size: 70%" colspan="2"><b>CONFIRMACI&Oacute;N APLICATIVO CUENTAS ABANDONADAS</b></td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;width:16%;font-size: 70%"><b>Fecha y Hora de Traslado:</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;width:34%;font-size: 70%">

            <div *ngIf="vbnotesoreria != 0">
                {{datosOrden['fechaVbnoTesorero'] | date: 'dd/MM/yyyy h:mm:ss a'}}
            </div>



        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;width:13%;font-size: 70%"><b>Fecha y Hora de Autorización:</b></td>
        <td style="border-bottom:2px solid;width:37%;font-size: 70%">

            <div *ngIf="vbnotesoreria != 0">
                {{datosOrden['fechaVbnoTesorero'] | date: 'dd/MM/yyyy h:mm:ss a'}}
            </div>

        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Cuenta CUD Entidad:</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">

            <div *ngIf="vbnotesoreria != 0">
                {{ datosImpresion['cuentaCudDestino']}}
            </div>

        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%" rowspan="3"><b>Acción a Ejecutar:</b></td>
        <td>
            <table style="width:100%">
              <caption></caption>
              <th></th>
                <tr>
                    <td style="width:25%;font-size: 80%">Autoriza</td>
                    <td style="border:1px solid; width:5%">&nbsp;X</td>
                    <td style="width:70%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Número de Transacción:</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">

            <div *ngIf="vbnotesoreria != 0">
                {{datosOrden['nroTransacion']}}
            </div>

        </td>
        <td></td>

    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Número de Operación:</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">

            <div *ngIf="vbnotesoreria != 0">
                {{datosOrden['nroOperacion']}}
            </div>

        </td>
        <td style="border-bottom:2px solid;">
            <table style="width:100%">
              <caption></caption>
              <th></th>
                <tr>
                    <td style="width:25%;font-size: 80%">Rechaza</td>
                    <td style="border:1px solid; width:5%">&nbsp;</td>
                    <td style="width:70%">&nbsp;</td>
                </tr>
            </table>
        </td>

    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;height:2%;font-size: 70%"><b>Observaciones</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">{{datosOrden['observacionSebra']}}</td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Observaciones</b></td>
        <td style="border-bottom:2px solid;font-size: 70%">
            {{datosOrden['observacionConfirmacion']}}
        </td>
    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Funcionario</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
            {{funcionarioTesorero['nombreUsuario']}}
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Funcionario</b></td>
        <td style="border-bottom:2px solid;font-size: 70%">
            {{funcionarioTesorero['nombreUsuario']}}
        </td>

    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Cargo</b></td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%">
            {{funcionarioTesorero['nombreCargo']}}
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Cargo</b></td>
        <td style="border-bottom:2px solid;font-size: 70%">
            {{funcionarioTesorero['nombreCargo']}}
        </td>


    </tr>
    <tr>
        <td style="border-right:2px solid;border-bottom:2px solid;width: 10px;font-size: 70%"><b>Firma</b>
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;">


            <div *ngIf="vbnotesoreria != 0">
                <p style="font-size: 10px;margin-bottom: 20px;">

                    {{datosOrden['fechaVbnoTesorero'] | date: 'dd/MM/yyyy h:mm:ss a'}}

                </p>
                <p style="font-weight: bold;font-size: 15px;">{{funcionarioTesorero['nombreUsuario']}}</p>
            </div>
        </td>
        <td style="border-right:2px solid;border-bottom:2px solid;font-size: 70%"><b>Firma</b></td>
        <td style="border-bottom:2px solid;">


            <div *ngIf="vbnotesoreria != 0">
                <p style="font-size: 10px;margin-bottom: 20px;">

                    {{datosOrden['fechaVbnoTesorero'] | date: 'dd/MM/yyyy h:mm:ss a'}}

                </p>
                <p style="font-weight: bold;font-size: 15px;">{{funcionarioTesorero['nombreUsuario']}}</p>
            </div>
        </td>
    </tr>

    <tr>
        <td style="vertical-align:top; height:140px;font-size: 70%" colspan="4"><b>Verificado por:</b> </td>

    </tr>
  </table>

</div>

<div class="container">

<div class="row justify-content-center">

    <div class="col-md-2">
        <button class="btn btn-primary mt-2" printSectionId="imprimirrecepcion" ngxPrint [useExistingCss]="true">Descargar en PDF</button>
    </div>
</div>
<br><br>
</div>

