<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <form fxLayout="column" [formGroup]="reactiveForm" fxFlex>
        <mat-card-header>
          <mat-card-title>Formulario para rechazo de autorizaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Observación</mat-label>
              <input matInput placeholder="Observación" formControlName="observacion" maxlength="300">
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
          <button mat-raised-button   (click)="fileInput.click()">
            <mat-icon color="primary">file_present</mat-icon>
            <span>Selecione el archivo</span>
            <input #fileInput type="file" formControlName="file" accept=".txt" (change)="fileChange($event)" style="display:none;" />
            <p>{{archivo?.name}}</p>

          </button>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button-atom text="Aceptar" type="submit" (click)="onSubmit()"></button-atom>
          <button mat-raised-button type="submit" [routerLink]="['/autorizacion-cargues']" style="margin-right: 10px;">Regresar</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  
