.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert-content {
    background: #fff;
    border-color: #a80521 !important;
    border-radius: 0.5rem;
  }

  .alert-content-aprobado{
    background: #fff;
    border-color: #03115b !important;
    border-radius: 0.5rem;
  }

  .alert-content-rechazado{
    background: #fff;
    border-color: #a80521 !important;
    border-radius: 0.5rem;
  }

  .text-danger {
    color: #dc3545 !important;
    h3 {
      color: #dc3545 !important;
    }
  }

  .text-blue{
    color: #03115b !important;
    h3 {
      color: #03115b !important;
    }
  }
