<mat-toolbar color="primary" aria-label="menu salto a contenido principal">
  <img src="./assets/img/svg/logo-icetex.svg" class="img-logo" alt="descripcion">
  <button mat-icon-button fxHide.xs fxHide.sm fxShow (click)="drawer.toggle()" matTooltip="Menu" title="boton para contraer menu lateral izquierdo">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="width-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menuProfile" matTooltip="Perfil">
    <mat-icon>perm_identity</mat-icon>
    <span fxHide.xs fxHide.sm>Perfil</span>
  </button>
  <mat-menu #menuProfile="matMenu">
    <div class="title-user-menu">{{this.usuario | slice:0:16}}</div>
    <button mat-menu-item [routerLink]="['/perfil']">
      <mat-icon>manage_accounts</mat-icon>
      Ver Perfil
    </button>
    <button mat-menu-item [routerLink]="['/cambiocontrasena']">
      <mat-icon>manage_accounts</mat-icon>
      Cambio de Contraseña
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Salir
    </button>
  </mat-menu>
  <button mat-icon-button fxShow.xs fxShow.sm fxHide (click)="drawer.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
