<div class="container" style="min-height: 420px;">
    <div class="row mb-5">
        <div class="col-8">Cuentas abandonadas – Generar Valor Subasta</div>
    </div>
    <form [formGroup]="valorForm" method="post" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="row">
            <div class="col-12">
                <div class="row">              
                <div class="col-4">
                    <label>Fecha de Subasta</label> 
                    <input type="date" formControlName="fecha" class="form-control">  
                </div> 
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row" fxLayoutAlign="center center">
            <div class="col-sm-3 col-md-3" >
                <input type="submit" class="form-control btn-primary-icetex" value="Generar">
            </div>
            <div class="col-sm-3 col-md-3">
                <button [routerLink]="['/listarvalorsubasta']" class="form-control btn-primary-icetex">Regresar</button>
            </div>
        </div>
    </form>
</div>
    
    
  