<div class="container" style="min-height: 420px;">
    <div class="row">
        <div class="col-2"><a href="javascript:history.go(-1)"><i class="fas fa-chevron-left shadowBox"></i></a></div>
        <div class="col-8">Cuentas Abandonadas - Interfaz Contable</div>
        <div class="col-2">&nbsp;</div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Tipo interfaz</th>
                <th scope="col">Año</th>
                <th scope="col">Mes</th>
                <th scope="col">Fecha generación</th>
                <th scope="col">Fecha transmisión</th>
                <th scope="col">Monto</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let int of interfazContableList">
                    <td>{{ int.tipointerfase }}</td>
                    <td>{{ int.anoproceso | number }}</td>
                    <td>{{ int.mesproceso| number }}</td>
                    <td>{{ int.fechageneracionborrador }}</td>
                    <td>{{ int.fechageneracionapo }}</td>
                    <td>{{ int.monto }}</td>
                    <td>{{ int.estado }}</td>
                    <td>
                        <i class="fas fa-arrow-up" style="cursor: pointer;" (click)="transmitir(int)"></i>
                        <i class="fas fa-th-list"></i>
                        <i class="fas fa-list-ul"></i>
                    </td>
                  </tr>
          </table>
    </div>
    <div class="row justify-content-end">
        <div class="col-1" style="font-size: 2rem; color: #30834F">
            <a [routerLink]="['/interfaz-contable-crear']"><i class="fas fa-plus-circle"></i></a>
        </div>
    </div>
</div>