<div class="row mb-5">
    <div class="col-2"><a href="javascript:history.go(-1)"><i class="fas fa-chevron-left shadowBox"></i></a></div>
    <div class="col-2">&nbsp;</div>
</div>
<div id="imprimirreintegro">

    <table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px; border: 3px solid">
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>C&oacute;digo F362</b>
            </td>
            <td rowspan="4" style="text-align:center;vertical-align:middle;border-right:2px solid;">
                <strong>ORDEN DE CUMPLIMIENTO REINTEGRO DE RECURSOS N°</strong>
            </td>
            <td rowspan="4" style="width: 20%;text-align:center;vertical-align:middle">
                <img src="../assets/img/jpg/LogoIcetex.jpg" style="width: 70%;height: auto;"/>
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Versi&oacute;n 1</b>
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Fecha: </b>
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;height:20px"><b>P&aacute;gina 1 de 1</b></td>
        </tr>
    </table>
    
    <div style="text-align:center;;height:25px"><b>SOLICITUD DE REINTEGRO DE RECURSOS ENTIDAD FINANCIERA.</b></div>
    
    <table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;margin-top:10px; border: 2px solid">
        
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%;height:25px">
                <b>Fecha Generaci&oacute;n</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%">
                {{ datosImpresion['fechaInicial']}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%">
                <b> N&uacute;mero de Cuentas Solicitadas</b>
            </td>
            <td style="border-bottom:2px solid;width:25%">
                {{ datosImpresion['numeroCuentas']}}
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%;height:20px">
                <b>Nombre Instituci&oacute;n Financiera</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%">
                {{ datosImpresion['nombreInstitucion']}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:25%">
                <b> Valor Total Solicitado</b>
            </td>
            <td style="border-bottom:2px solid;width:25%">
                $ {{ datosImpresion['valor'] | number}}
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Nombre del Archivo</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                {{ datosImpresion['nombreArchivo']}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Total Saldo Inicial Solicitado</b>
            </td>
            <td style="border-bottom:2px solid;">
                $ {{ datosImpresion['valorTotal'] | number}}
            </td>
        </tr>
        
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Fecha de Transmisi&oacute;n</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                {{ datosImpresion['fechaTransmision']}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Total Remuneraci&oacute;n Solicitada</b>
            </td>
            <td style="border-bottom:2px solid;">
                $ {{ datosImpresion['valorRemuneracion'] | number}}
            </td>
        </tr>
    
        <tr>
            <td colspan="4" style="border-bottom:2px solid;height:20px">
                <div style="text-align:center;">
                    La Vicepresidencia de Operaciones y Tecnolog&iacute;a luego de verificar la informaci&oacute;n transmitida por las Instituciones Financieras en el marco de la Ley 1777  de 2016, autoriza el reintegro de recursos del saldo registrado de cuentas abandonadas bajo las siguientes condiciones:
                </div>
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Valor Saldo Inicial Autorizado</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Valor Remuneraci&oacute;n Autorizada</b>
            </td>
            <td style="border-bottom:2px solid;">
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Valor de Giro Autorizado</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Valor Pendiente de Reintegro</b>
            </td>
            <td style="border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;width:12.5%;height:60px">
                <b>Observaciones</b>
            </td>
            <td colspan="3"></td>
        </tr>
    
    </table>
    
    <div>
    
    </div>
    
    <table cellpadding="5" cellspacing="0" style="width:100%;border:2px solid; margin-bottom:5px;">
     
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;text-align:center;height:20px" colspan="2"><b>VERIFICA</b></td>
            <td style="border-bottom:2px solid;text-align:center;" colspan="2"><b>AUTORIZA</b></td>
        </tr>
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;width:12.5%;height:20px"><b>Funcionario</b></td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:37.5%">
                <!-- JESUS VARGAS AGUAS -->
                {{funcionarioAdmin.nombreUsuario}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:12.5%;"><b>Funcionario</b></td>
            <td style="border-bottom:2px solid;width:37.5%">
                <!-- JOSE EDUARDO PARADA JIMENEZ -->
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px"><b>Cargo</b></td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <!-- PROFESION UNIVERSITARIO -->
                {{funcionarioAdmin.nombreCargo}}
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;"><b>Cargo</b></td>
            <td style="border-bottom:2px solid;">
                <!-- COORDINADOR GRUPO ADMINISTRACION DE CARTERA -->
            </td>
        </tr>
        <tr>
            <td style="border-right:2px solid;height:20px"><b>Firma</b></td>
            <td style="border-right:2px solid;">
                <!-- <img src="../assets/images/Grafo JV.png" style="width: 20%;height: auto;"/> -->
                <img [src]="funcionarioAdmin.firma" style="width: 10%;height: auto;"/>
            </td>
            <td style="border-right:2px solid;"><b>Firma</b></td>
            <td>
                <!-- <img src="../assets/images/Grafo Jose.png" style="width: 30%;height: auto;"/> -->
            </td>
        </tr>
    </table>
    
    <table cellpadding="5" cellspacing="0" style="width:100%;border:2px solid; margin-bottom:5px;margin-top:10px">
        <tr>
            <td style="text-align:center; background-color:#bfbfbf;border-bottom:2px solid;height:20px" colspan="4">
                <b>VICEPRESIDENCIA FINANCIERA - DIRECCI&Oacute;N DE TESORER&Iacute;A</b>
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;width:20%;height:20px">
                <b>Cuenta CUD Destino</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:30%">
                &nbsp;
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;width:20%">
                <b>Valor de Giro</b>
            </td>
            <td style="border-bottom:2px solid;width:30%">
                &nbsp;
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Portafolio Destino</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>C&oacute;digo Transacci&oacute;n</b>
            </td>
            <td style="border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Cuenta CUD Origen</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
            <td colspan="2" style="border-bottom:2px solid;">
                &nbsp;
            </td>
            
        </tr>
    
    
    
        <tr>
            <td colspan="2" style="border-right:2px solid;border-bottom:2px solid;background-color:#bfbfbf;text-align:center;height:20px ">
                <b>VERIFICACI&Oacute;N CARGUE INFORMACI&Oacute;N</b>
            </td>
            <td colspan="2" style="border-bottom:2px solid;background-color:#bfbfbf;text-align:center; ">
                <b>APROBADOR SEBRA</b>
            </td>
            
        </tr>
    
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Fecha y Hora</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Fecha y Hora</b>
            </td>
            <td style="border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>N° Operaci&oacute;n CUD</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>N° Operaci&oacute;n CUD</b>
            </td>
            <td style="border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Observaciones</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Observaciones</b>
            </td>
            <td style="border-bottom:2px solid;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Funcionario</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <!-- Yenny G&oacute;mez -->
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Funcionario</b>
            </td>
            <td style="border-bottom:2px solid;">
                <!-- Jorge Nelson Gait&aacute;n Le&oacute;n  -->
            </td>
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Cargo</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <!-- Contratista -->
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Cargo</b>
            </td>
            <td style="border-bottom:2px solid;">
               <!-- Coordinador Pagaduria -->
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Firma</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Firma</b>
            </td>
            <td style="border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
        <tr>
            <td colspan="2" style="border-right:2px solid;border-bottom:2px solid;background-color:#bfbfbf;text-align:center;height:20px ">
                <b>AUTORIZACI&Oacute;N APLICATIVO CUENTAS ABANDONADAS</b>
            </td>
            <td colspan="2" rowspan="7" style="valign:top; ">
                <b>Verificado por</b>
            </td>
            
        </tr>
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Fecha y Hora Aplicaci&oacute;n</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                &nbsp;
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Acci&oacute;n a Ejecutar</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <table>
                    <tr>
                        <td style="width:30%;">Verifica</td>
                        <td style="width:10%;">&nbsp;</td>
                        <td style="width:10%;border-left:2px solid;border-right:2px solid;border-bottom:2px solid;border-top:2px solid;">X&nbsp;</td>
                        <td style="width:30%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Rechaza</td>
                        <td>&nbsp;</td>
                        <td style="border-left:2px solid;border-right:2px solid;border-bottom:2px solid;border-top:2px solid;">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                <b>Observaciones</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                La autorizaci&oacute;n en el aplicativo de cuentas 
                abandonadas es adelantada por el Ingeniero 
                Marco Montoya de la Direcci&oacute;n de Tecnolog&iacute;a
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Funcionario</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                Marco Montoya
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;border-bottom:2px solid;height:20px">
                <b>Cargo</b>
            </td>
            <td style="border-right:2px solid;border-bottom:2px solid;">
                Contratista
            </td>
        </tr>
    
    
        <tr>
            <td style="border-right:2px solid;height:20px">
                <b>Firma</b>
            </td>
            <td style="border-right:2px solid;">
                <!-- <img src="../assets/images/firmacebra.png" style="width: 5%;height: auto;"/> -->
            </td>
        </tr>
    
    </table>
    
    </div>
    
    <div class="row justify-content-center">
    
        <div class="col-md-2">
            <button class="btn btn-primary mt-2" printSectionId="imprimirreintegro" ngxPrint [useExistingCss]="true">Descargar en PDF</button>
        </div>
    
    </div>
    
