<footer>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
    <div fxFlex fxLayout="column" fxLayoutGap="15px">
      <p>Líneas de atención al usuario del ICETEX Bogotá: (57-1) 417-3535</p>
      <p>Línea gratuita a nivel Nacional: tel: (57-1) 018000-916821 (línea de quejas y reclamos)</p>
      <p>Horario de líneas de atención: Lunes a viernes de 7:00 am a 7:00 pm y sábados de 8:00 am a 6:00 pm, dependiendo de cada uno dnuestros canales de atención IES de lunes a viernes de 8:00 am a 5:30 pm</p>
    </div>
    <mat-divider vertical fxHide.xs></mat-divider>
    <div class="divider" fxHide fxShow.xs></div>
    <div fxFlex fxLayout="column" fxLayoutGap="15px">
      <p>Notificaciones Judiciales:notificaciones@icetex.gov.co</p>
      <p>Dirección: Carrera. 3 No. 18-32 (Recepción de correspondencia)</p>
      <p>Código postal: 110321</p>
      <p>PBX: (57-1) 382-1670</p>
    </div>
    <mat-divider vertical fxHide.xs></mat-divider>
    <div class="divider" fxHide fxShow.xs></div>
    <div fxFlex fxLayout="column" fxLayoutGap="15px">
      <ul class="links-footer-list">
        <li>Peticiones, Quejas y Reclamos</li>
        <li>Red de oficinas</li>
        <li>Estructura organizacional</li>
        <li>Política de tratamiento de datos</li>
        <li>Preguntas frecuentes</li>
        <li>Glosario</li>
        <li>Términos y condiciones del sitio</li>
        <li>Mapa del sitio</li>
        <li>Funcionarios</li>
        <li>Correo Institucional</li>
        <li>Defensor del consumidor financiero</li>
        <li>Transparencia y acceso a la información pública</li>
      </ul>
    </div>
  </div>
</footer>
