<div class="container" style="height: 580px;">
    <div style="max-width: 620px; margin: 0 auto;">
        <form [formGroup]="tipoCalendarioForm" method="post" (ngSubmit)="onSubmit()"
            (keydown.enter)="$event.preventDefault()">
            <div class="row mb-3">
                <div class="mb-3 mt-5 col-sm-12 col-md-12 bg-blue-icetex1">
                    <label class="text-white ps-2 pt-2 pb-2">Crear Calendario</label>
                </div>
                <div class="mb-3 col-sm-12 col-md-12">
                    <select class="form-control" formControlName="idCargue" style="color: grey;" [ngClass]="{'is-valid': tipoCalendarioForm.controls['idCargue'].valid &&  tipoCalendarioForm.touched,
                    'is-invalid': tipoCalendarioForm.controls['idCargue'].invalid &&  tipoCalendarioForm.touched}">
                        <option value="null" disabled="true" [selected]="true">Tipo de Archivo</option>
                        <option *ngFor="let tipo of tipoArchivo" value="{{tipo.codigo}}">
                            {{tipo.nombre}}
                        </option>
                    </select>
                </div>
                <div class="mb-3 col-sm-6 col-md-6">
                    <label>Fecha Desde</label>
                    <input type="date" formControlName="fechaDesde" class="form-control"
                        placeholder="Fecha Desde"
                        [ngClass]="{'is-valid': tipoCalendarioForm.controls['fechaDesde'].valid &&  tipoCalendarioForm.touched,
                        'is-invalid': tipoCalendarioForm.controls['fechaDesde'].invalid &&  tipoCalendarioForm.touched}">
                </div>
                <div class="mb-3 col-sm-6 col-md-6">
                    <label>Fecha Hasta</label>
                    <input type="date" formControlName="fechaHasta" class="form-control"
                        placeholder="Fecha Hasta"
                        [ngClass]="{'is-valid': tipoCalendarioForm.controls['fechaHasta'].valid &&  tipoCalendarioForm.touched,
                        'is-invalid': tipoCalendarioForm.controls['fechaHasta'].invalid &&  tipoCalendarioForm.touched}">
                </div>
                <div class="mb-3 col-sm-6 col-md-6">
                    <label>Fecha Inicial</label>
                    <input type="date" formControlName="fechaInicial" class="form-control"
                        placeholder="Fecha Inicial"
                        [ngClass]="{'is-valid': tipoCalendarioForm.controls['fechaInicial'].valid &&  tipoCalendarioForm.touched,
                        'is-invalid': tipoCalendarioForm.controls['fechaInicial'].invalid &&  tipoCalendarioForm.touched}">
                </div>
                <div class="mb-3 col-sm-6 col-md-6">
                    <label>Fecha Final</label>
                    <input type="date" formControlName="fechaFinal" class="form-control"
                        placeholder="Fecha Final"
                        [ngClass]="{'is-valid': tipoCalendarioForm.controls['fechaFinal'].valid &&  tipoCalendarioForm.touched,
                        'is-invalid': tipoCalendarioForm.controls['fechaFinal'].invalid &&  tipoCalendarioForm.touched}">
                </div>

            </div>
            <div class="row">
                <div class="mb-3 col-sm-6 col-md-6">
                    <input type="submit" class="form-control btn-primary-icetex" style="width: 30%;margin: 0 auto;"
                        value="Guardar">
                </div>
                <div class="mb-3 col-sm-6 col-md-6">
                    <a [routerLink]="['/calendario']" class="btn btn-secondary btn-icetex"><i
                            class="fas fa-chevron-left"></i> Atrás</a>
                </div>
            </div>
        </form>
    </div>
</div>